#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 18px;
    overflow-y: auto;
  }
    
.nav-menu {
    padding: 0;
    display: block;
  }
  
  .nav-menu * {
    margin: 0;
    padding: 0;
    list-style:none;
  }  
  
  .nav-menu a  {
    display: flex;
    align-items: center;
    color: #f3f6f9; 
    padding: 15px 18px;
    margin-bottom: 8px;
    transition: 0.2s;
    font-size: 15px;
    border-radius: 50px;
    background: #22289b;
    height: 45px;
    width: 100%;    
  }  
  .nav-menu a:hover  {   
    color: #0d0e0e;
    transition: 0.5s;    
  }  

  #inicio {
    width: 100%;
    height: 100vh;
    background: url("../img/muro-hormigon-gris.jpg") top right no-repeat;
    background-size: cover;
    position: relative;
  }
  #inicio h1 {
    font-size: 64px;
    line-height: 40px;
    
  }

  #inicio p {
    margin-top: 15px;
    font-size: 22px;
    line-height: 24px;
    color: #3e4141;
  }
 
  #trabajos {
    width: 100%;
    height: 100vh;   
    position: relative;
    

  }

   #sobremi {
    width: 100%;
    height: 100vh;
    background: url("../img/programador-trabajando.jpg") top right no-repeat;
    background-size: cover; 
    position: relative;
    
    } 

  #contacto {
    width: 100%;
    height: 100vh;  
    position: relative; 
    } 

  .parrafo{
    backdrop-filter: blur(8px);
    text-align: justify;
  }

 
   @media (max-width: 991px) {
    #header {
      width: 300px;
      background: #fff;
      border-right: 1px solid #e6e9ec;
      left: -300px;
    }
  } 
   
 