#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 18px;
  overflow-y: auto;
}

.nav-menu {
  padding: 0;
  display: block;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #f3f6f9;
  padding: 15px 18px;
  margin-bottom: 8px;
  transition: 0.2s;
  font-size: 15px;
  border-radius: 50px;
  background: #880542;
  text-shadow: 0 0 5px #03e9f4,
  0 0 25px #03e9f4,
  0 0 50px #03e9f4,
  0 0 100px #03e9f4;
  height: 45px;
  width: 100%;
}

.nav-menu a:hover {
  color: #0d0e0e;
  transition: 0.5s;
}

#inicio {
  width: 100%;
  height: 100vh;
  background: url("../img/onda-neon-abstracto.jpg") top right no-repeat;
  background-size: cover;
  position: relative;

}

#inicio h1 {
  font-family: monospace;
  font-size: 4em;
  font-weight: 300;
  color: #fff;
  text-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
  letter-spacing: 5px;
  cursor: pointer;
  transition: 3s;
}
#inicio p {
  margin-top: 15px;
  font-size: 2em;
  line-height: 24px;
  font-family: monospace;
  color: #fff;
  text-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}
.neon{
  font-family: monospace;
  font-size: 3em;
  font-weight: 200;
  color: #fff;
  text-shadow: 0 0 5px #03e9f4,
  0 0 25px #03e9f4, 
  0 0 50px #03e9f4,
  0 0 100px #03e9f4;
  letter-spacing: 1px;
  cursor: pointer;   
  transition: 3s;
 }    


#trabajos {
  width: 100%;
  min-height: 100vh;
  background: #41295a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

#sobremi {
  width: 100%; 
  min-height: 100vh;
  background: url("../img/programador-trabajando.jpg") top right no-repeat;
  background-size: cover;
  position: relative;
}

.parrafo {
  backdrop-filter: blur(10px);
  text-align: justify;
}

#contacto {
  width: 100%;
  min-height: 100vh;
  background: url("../img/email.jpg") top right no-repeat;
  background-size: cover;
  position: relative;
}
/*  cards  trabajos */
.card {
  position: relative;
  width: 350px;
  height: 350px;
  color: #2e2d31;
  background: #131313;
  overflow: hidden;
  border-radius: 20px;
}

.temporary_text {
  font-weight: bold;
  font-size: 24px;
  padding: 6px 12px;
  color: #f8f8f8;
}

.card_title {
  font-weight: bold;
}

.card_content {
  position: absolute;
  left: 0;
  bottom: 0;
  /* edit the width to fit card */
  width: 100%;
  padding: 20px;
  background: #f2f2f2;
  border-top-left-radius: 20px;
  /* edit here to change the height of the content box */
  transform: translateY(150px);
  transition: transform .25s;
}

.card_content::before {
  content: '';
  position: absolute;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px #f2f2f2;
}

.card_title {
  color: #131313;
  line-height: 15px;
}

.card_subtitle {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}

.card_description {
  font-size: 14px;
  opacity: 0;
  transition: opacity .5s;
}

.card:hover .card_content {
  transform: translateY(0);
}

.card:hover .card_description {
  opacity: 1;
  transition-delay: .25s;
}


@media (max-width: 991px) {
  #header {
    width: 300px;
    background: #fff;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }
}